@use 'variables' as v;

// Media query para telefonos
@mixin telefono{
    @media (min-width: v.$telefono){
        @content;
    }
}

// Media query para tablets
@mixin tablet{
    @media (min-width: v.$tablet){
        @content;
    }
}

// Media query para Comnputadoras de escritorio
@mixin desktop{
    @media (min-width: v.$desktop){
        @content;
    }
}

// Media query para Comnputadoras de escritorio más grande
@mixin desktopXL{
    @media (min-width: v.$desktopXL){
        @content;
    }
}

// Mixin para que se pueda colocar los elementos entre filas y columnas
@mixin grid($columnas, $espaciado){
    display: grid; // Va a dividir el espacio entre filas y columnas
    grid-template-columns: repeat($columnas, 1fr); // Crear las columnas necesarias de una fracción.
    gap: $espaciado; // La separación entre columnas.
}